html {
    font-size: 20px;
    @media (max-width: $screen-md) {
        overflow-x: hidden;
    }
}

body {
    margin: 0;
    overflow: initial;
    overflow-x: hidden;
    min-width: 320px;
    color: $black;
    font-family: $primary-font;
    padding-top: 3.5rem;
    background-color: $bg-body;
}

@media print {
    html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
    cursor: pointer;
}

em {
    font-style: normal;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

select, input {
    padding: 0.3rem 0.3rem;
    border: 1px solid $grey;
    border-radius: 4px;
    outline: none;
    transition: border-color 400ms;
    &:hover, &:active, &:focus {
        border-color: $blue;
    }
}

.main-container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}