// Fonts
$primary-font: "Arial", sans-serif;
$title-font: "SuecaSlab", sans-serif;

// Colors
$black:#000;
$white: #FFF;
$blue:#0174c4;
$grey: #d9d9d9;
$dark-grey: #515151;
$light-grey: #f1f1f1;

$bg-body: $light-grey;

// Breakpoints
$screen-xs: 360px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1366px;